
@import "../../../assets/_variables";
@import "../../../assets/mixins";


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $white;
  box-shadow: $box-shadow;
  z-index: $header-z-index;

  .wrapper {
    display: flex;

    .brand {
      position: relative;
      height: 100%;
      line-height: $header-height;
      padding: 0 $content-padding;
      background: $blue;
      color: $white;
      text-align: center;
      z-index: 1;
      @include hoverLayer(lighten($blue, $lighten-offset));
    }
  }

  &__subtitle {
    position: relative;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;

    &__shadow {
      position: absolute;
      top: $header-height;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba($black, 0.4);
      display: none;

      &--opened {
        display: block;
      }
    }

    @include tablet {
      flex-direction: column;
      top: $header-height;
      right: -120px;
      background: $white;
      width: 120px;
      height: calc(100vh - #{$header-height});
      padding: 40px 0;
      transition: right .4s $bezier;

      &--opened {
        right: 0;
      }
    }
  }
}