
@import "../../../assets/_variables";
@import "../../../assets/mixins";


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $white;
  box-shadow: $box-shadow;
  border-radius: 0;
  z-index: $header-z-index;
  overflow: visible;

  .wrapper {
    display: flex;
  }

  .brand {
    position: relative;
    height: 100%;
    line-height: $header-height;
    background: $blue;
    display: inline-flex;
    align-items: center;
    color: $white;
    text-align: center;
    z-index: 1;
    
    &--hoverable {
      @include hoverLayer(rgba($white, 0.15));
    }

    h5 {
      position: relative;
      width: 100%;
      height: 100%;
      line-height: $header-height;
      padding: 0 $content-padding;
    }
  }

  :host-context(body.dark-theme) & {
    &__subtitle { background: $black; }
  }
}