
@import "../../../../../assets/_variables";

.content {
  position: relative;
  margin-top: $header-height;
  padding: 40px 0;

  .units {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 40px;
    width: 1024px;
    margin: 40px auto;
  }
}