
@import "../../../../../assets/_variables";
@import "../../../../../assets/mixins";

.units {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(180px, auto);
  grid-gap: 20px;
  width: 100%;
  margin: 40px auto;

  @include tablet {
    grid-template-columns: 1fr;
  }
}