
@import "../../../assets/_variables";

$message-height: 60px;

.message {
  position: relative;
  width: 100%;
  min-height: $message-height;
  display: flex;
  justify-content: space-between;
  color: $black;
  border-radius: $border-radius;


  &__collumn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0, {
      right: 15px;
    };
  }

  &__icon {
    position: relative;
    min-width: $message-height;
    text-align: center;
  }

  &__content {
    font-size: 16px;
    font-weight: 900;
    word-wrap: break-word;
  }

  &__close-btn {
    position: relative;
    min-width: $message-height;
    min-height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &--success {
    background: $green;
  }

  &--warning {
    background: $orange;
  }

  &--danger {
    background: $red;
  }
}