@import "../../../assets/variables";

.message {
  position: relative;
  width: 100%;
  min-height: $input-height + ($input-border-width * 2);
  display: none;
  justify-content: space-between;
  color: $black;
  border-radius: $border-radius;
  overflow: hidden;
  opacity: 1;


  &__collumn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    padding: 15px 0;
    padding-right: 15px;
  }

  &__icon {
    position: relative;
    min-width: $input-height + ($input-border-width * 2);
    text-align: center;
  }

  &__content {
    font-size: 16px;
    font-weight: 900;
    word-wrap: break-word;
  }

  &__close-btn {
    position: relative;
    min-width: $input-height + ($input-border-width * 2);
    min-height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: rgba($black, 0.6);

    &__state {
      position: relative;
      height: 100%;
      width: 0;
      background: $black;
    }
  }

  &--shown {
    display: flex;
  }

  &--success {
    background: $green;
  }

  &--warning {
    background: $orange;
  }

  &--danger {
    background: $red;
  }

  &--floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    z-index: $loader-z-index;
  }
}
