
<app-loader [visible]="loading"></app-loader>

<div class="admin-content" [hidden]="loading">
  <div class="container container__box">
    <h2 class="container__box__header">Użytkownicy</h2>
    <div class="container__box__content">
      <!-- todo: create table sorting support -->
      <!-- todo: create table filter -->
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Adres e-mail</th>
            <th>Typ użytkownika</th>
            <th>Opcje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>{{i+1}}</td>
            <td>{{user?.firstName}}</td>
            <td>{{user?.lastName}}</td>
            <td>{{user?.email}}</td>
            <td>
              <app-user-type [type]="user?.role"></app-user-type>
            </td>
            <td>
              <app-button [routerLink]="['./', user?.username]" icon="info" primary></app-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>