@import "../../../assets/_variables";
@import "../../../assets/mixins";

.button {
  position: relative;
  height: $input-height + ($input-border-width * 2);
  min-width: $input-height * 2.5;
  padding: 0 20px;

  border: none;
  border-radius: $border-radius;
  background: $grey;
  color: $black;

  font: {
    size: $input-font-size;
    weight: 900;
  }

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:not(&--disabled) {
    @include hoverLayer(rgba($white, 0.15));
  }

  &:not(&--disabled):active {
    background: darken($grey, $lighten-offset);
  }

  &:hover {
    text-decoration: none;
  }

  * {
    cursor: pointer;
  }

  &--fluid {
    width: 100%;
  }

  &--circular {
    min-width: 60px;
    height: 60px;
    padding: 0;
    display: inline-block;
    border-radius: 100%;
  }

  &--icon {
    min-width: $input-height + ($input-border-width * 2);
    padding: 0;
  }

  &--primary {
    background: $blue;
    color: $white;

    &:not(.button--disabled):active {
      background: darken($blue, $lighten-offset);
    }
  }

  &--negative {
    background: $red;
    color: $white;

    &:not(.button--disabled):active {
      background: darken($red, $lighten-offset);
    }
  }

  &--positive {
    background: $green;
    color: $white;

    &:not(.button--disabled):active {
      background: darken($green, $lighten-offset);
    }
  }

  &--disabled {
    cursor: default;
    opacity: 0.5 !important;
  }


  @include mobile {
    width: 100%;
  }
}
