:host-context(body.dark-theme) {
  .table-sortable-filter {
    .filter-option {
      color: $white;

      &:hover {
        background: rgba($white, 0.2);
      }
    }

    &__content {
      color: $white;

      .filter-content-list__option:hover {
        background: rgba($white, 0.2);
      }
    }
  }
}
