.input__group {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  * {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  app-input {
    flex: 1 1 auto;
  }
}
