
@import "../../../../../../../assets/variables";

.color-preview {
  position: relative;
  width: $input-height;
  height: $input-height + ($input-border-width * 2);
  border-radius: $border-radius;
}