<div class="profile">
  <div class="profile__background" profile>
    <img [attr.src]="unit?.image" [attr.alt]="unit?.name" />
    <div class="profile__background__filter"></div>
    <div class="profile__data">
      <div class="unit__data">
        <h1 class="profile__header">{{unit?.name}}</h1>
        <p>Ilość słówek: <b>{{unit?.wordsCount}}</b></p>
      </div>
      <div class="unit__options">
        <div class="unit__status" [ngClass]="{
          'unit__status--published': unit?.published,
          'unit__status--non-published': !unit?.published
        }">
          {{ unit?.published ? "OPUBLIKOWANY" : "NIEOPUBLIKOWANY" }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="admin-content">
  <div class="container container__box">
    <h2 class="container__box__header">Słówka</h2>
    <div class="container__box__loader" *ngIf="loading">
      <app-loader loaderVisible></app-loader>
    </div>
    <div class="container__box__content" *ngIf="!loading">
      <form [formGroup]="wordsSearchFormGroup">
        <app-input formControlName="word" placeholder="Szukaj słowek..." appInputFluid></app-input>
      </form>
      <p *ngIf="(words | unitFilter:word.value).length == 0">Nie znaleziono słowek z wartością <b>{{word.value}}</b></p>
      <!-- todo: create table sorting support -->
      <!-- todo: create table filters -->
      <table class="table" *ngIf="(words | unitFilter:word.value).length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Polskie</th>
            <th>Angielskie</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let word of words | unitFilter:word.value">
            <td>{{word?.wordNumber}}</td>
            <td>{{word?.polish}}</td>
            <td>{{word?.english}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
