
@import "../../../../../assets/_variables";
@import "../../../../../assets/mixins";

.admin {
  min-height: 100vh;
  display: flex;
  padding: 0, {
    top: $header-height;
  };

  &__main {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .sidebar {
    position: relative;
    min-width: $sidebar-width;
    z-index: 2;
  }
}