<div class="file-input">
  <input type="hidden" [(ngModel)]="value" />

  <input type="file" [attr.id]="id" [attr.accept]="accept" (change)="parseFile($event)" #file/>

  <app-button primary (click)="file.click()">
    <label *ngIf="fileName == null; else fileNameVal">
      <app-icon name="folder"></app-icon>
      <span>Wybierz plik</span>
    </label>
    <span #fileNameVal>{{fileName}}</span>
  </app-button>

  <div class="file-input__separator" *ngIf="draggable">
    <div class="file-input__separator-line"></div>
    <div class="file-input__separator-text">
      <h5>lub</h5>
    </div>
    <div class="file-input__separator-line"></div>
  </div>

  <div class="file-input__drag-field" 
       [class.file-input__drag-field--dragover]="dropZoneState.isDragover"
       [class.file-input__drag-field--invalid]="dropZoneState.isInvalid"
       [class.file-input__drag-field--valid]="dropZoneState.isValid"
       appDropZone
       (onDrop)="getData($event)"
       *ngIf="draggable">

    <h5>{{dropZoneState.message}}</h5>

    <div class="file-input__image" *ngIf="value != null" [@imageAnimation]="'in'">
      <div class="file-input__image__cancel" (click)="clearInput()">
        <app-icon name="delete"></app-icon>
      </div>
      <div class="file-input__image__content">
        <img [attr.src]="value.data" alt="zdjęcie" />
      </div>
    </div>

  </div>

</div>