@import "../../../assets/_variables";

.file-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  label {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: inline-block;
      margin-left: 10px;
    }
  }


  &__separator {
    position: relative;
    width: 100%;
    height: 30px;
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    &-line {
      position: relative;
      background: $grey;
      width: 100%;
      height: 3px;
      border-radius: $border-radius;
    }

    &-text {
      margin: 0 20px;
    }
  }

  &__drag-field {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dashed $grey;
    color: $grey;
    transition: .4s $bezier;

    &--dragover {
      border: 4px solid $white;
      color: $white;
    }

    &--invalid {
      border-color: $red;
      background: rgba($red, 0.2);
      color: $red;
    }

    &--valid {
      border-color: $green;
      background: rgba($green, 0.2);
      color: $green;
    }
  }

  &__image {
    position: relative;
    width: 90%;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    &:hover & {
      &__cancel {
        opacity: 1;
      }
    }

    &__cancel {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: $black;
      color: $white;
      width: $input-height + ($input-border-width * 2);
      height: $input-height + ($input-border-width * 2);
      text-align: center;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      cursor: pointer;
      opacity: 0;
      transition: opacity .4s $bezier;
    }

    &__content {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        position: relative;
        display: block;
        width: 100%;
      }
    }
  }

}
