<div class="container container__form container--centerized">
  <div class="form">
    <app-loader #registerLoader></app-loader>
    <h1>Zarejestruj się</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form__content">
        <app-input icon="person" placeholder="Nazwa użytkownika..." 
                   formControlName="username" [control]="registerForm?.controls['username']"
                   appInputFluid #username></app-input>

        <app-input type="password" icon="lock" placeholder="Hasło..." 
                   formControlName="password" [control]="registerForm?.controls['password']"
                   appInputFluid></app-input>

        <hr />


        <app-input icon="label" placeholder="Imię..." 
                   formControlName="firstName" [control]="registerForm?.controls['firstName']"
                   appInputFluid></app-input>

        <app-input icon="label" placeholder="Nazwisko..." 
                   formControlName="lastName" [control]="registerForm?.controls['lastName']" 
                   appInputFluid></app-input>

        <app-input type="email" icon="mail" placeholder="Adres e-mail..." 
                   formControlName="email" [control]="registerForm?.controls['email']"
                   appInputFluid></app-input>

      </div>

      <app-button type="submit" primary fluid>Zarejestruj się</app-button>
    </form>
  </div>
  <div class="banner">
    <div class="banner__inner">
      <h1 class="banner__title">EngApp</h1>
      <p class="banner__description">I nauka angielskiego staje się przyjemniejsza!</p>
    </div>
  </div>
</div>
