
@import "_variables";

// todo: separate them into files
body.dark-theme {
  background-image: linear-gradient(to bottom, rgba($black, 0.7), rgba($black, 0.7)), url("/assets/img/england-photo.jpg");
  color: $white;


  .container {
    background: $black;
  }



  .input {
    background: $black;
    color: $white;

    input {
      color: $white;
    }

    &--focused {
      border-color: $white;
      box-shadow: 0 0 10px rgba($white, 0.4);
  
      .input__icon {
        color: $white !important;
      }
    }
  }
  


  .loader {
    background: rgba($black, 0.5);

    circle {
      stroke: $white !important;
    }
  }


  .header {
    background: $black;
    color: $white;

    &__item {
      &::before { background: rgba($white, 0.2); }
      &::after { background: $white; }
    }

    &__subtitle { background: $black; }

    &__menu {
      background: $black;
    }
  }

  .menu__opener {
    span { background: $white !important; }
  }


  .quiz__form {
    background: $black;
  }


  .tab-menu {
    background: $black;
    color: $white;

    &__item {

      &--active {
        background: rgba($white, 0.4);
      }

      &::before { background: rgba($white, 0.2); }
      &::after { background: $white; }
    }
  }
}