
$border-radius: 3px;
$lighten-offset: 5%;

$input-height: 50px;
$input-border-width: 1px;
$input-font-size: 14px;

$header-height: 80px;
$content-padding: 40px;

$box-shadow: 0 2px 10px rgba(0,0,0,.2);

$bezier: cubic-bezier(0,.83,.24,1);

// z-index
$header-z-index: 10;
$loader-z-index: 11;

// resolutions
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 425px;

// colors
$black: #263238;
$grey: #9E9E9E;
$light-grey: #FAFAFA;
$white: #ffffff;

$green: #4CAF50;
$red: #f44336;
$blue: #03A9F4;
$yellow: #FFEB3B;
$orange: #FFA726;