
$border-radius: 3px;

$input-height: 50px;
$input-font-size: 14px;

$header-height: 60px;

$box-shadow: 0 2px 10px rgba(0,0,0,.2);

// colors
$black: #263238;
$grey: #9E9E9E;
$light-grey: #FAFAFA;
$white: #ffffff;

$green: #4CAF50;
$red: #f44336;
$blue: #03A9F4;
$yellow: #FFEB3B;