
$border-radius: 3px;

$input-height: 50px;
$input-font-size: 14px;

// colors
$black: #263238;
$grey: #9E9E9E;
$light-grey: #FAFAFA;
$white: #ffffff;

$green: #4CAF50;
$red: #f44336;
$blue: #03A9F4;
$yellow: #FFEB3B;