
@import "../../../../../assets/_variables";
@import "../../../../../assets/mixins";


$profile-height: 450px;
$profile-image-width: 130px;
$profile-avatar-padding: 40px;
$profile-avatar-width: $profile-image-width + ($profile-avatar-padding * 2);


.profile {
  position: relative;
  width: 100%;
  height: $profile-height;

  &__background {
    position: relative;
    width: 100%;
    height: 100%;
    background: {
      size: cover;
      repeat: no-repeat;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent, rgba($black, 0.4));
    }
  }

  &__avatar {
    position: absolute;
    bottom: $profile-avatar-width / -7;
    left: 50%;
    transform: translateX(-50%);
    width: $profile-avatar-width;
    height: $profile-avatar-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  &__image {
    position: relative;
    width: $profile-image-width;
    height: $profile-image-width;
    border-radius: $profile-image-width;
    overflow: hidden;
    margin-bottom: $profile-avatar-padding / 2;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}




.account {
  &__option {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;

    &__label {
      flex: 1;
      position: relative;
      text-align: right;
      margin-right: 10px;
    }

    &__input {
      flex: 2;
    }

    @include mobile {
      flex-direction: column;
      align-items: initial;
      margin: 20px 0;

      &__label {
        text-align: initial;
        margin-bottom: 5px;
      }
    }
  }
}