<app-header #header>
  <div class="wrapper">
    <a class="brand" [routerLink]="['/']" title="Strona główna">
      <h5>EngApp</h5>
    </a>
    
    <app-menu-opener (onOpen)="open($event)" #opener></app-menu-opener>
    
    <div class="header__menu__shadow"
          [ngClass]="{'header__menu__shadow--opened': opened}"
          (click)="close()"></div>
    <div class="header__menu" [ngClass]="{'header__menu--opened': opened}">
      <!-- todo: crete image profile support -->
      <app-header-item *ngIf="user" [label]="user?.firstName +' '+ user?.lastName" 
                        itemType="image" imageSrc="assets/img/default.jpg"
                        [href]="['/account', user?.username]"></app-header-item>

      <app-header-item label="Panel" imageSrc="dashboard" [href]="['/admin']" *ngIf="user?.role == 'ADMIN'"></app-header-item>
      <app-header-item label="Wyloguj się" imageSrc="power_settings_new" (click)="logout()"></app-header-item>
    </div>
  </div>
</app-header>

<router-outlet></router-outlet>