@import "../../../../../../../assets/_variables";
@import "../../../../../../../assets/mixins";

@import "sidebar-item-dark-theme.component";

.sidebar__item {
  position: relative;
  width: 100%;
  height: $sidebar-item-height;
  display: flex;
  align-items: center;
  color: $black;
  transition: .2s $bezier;

  &__icon {
    min-width: $sidebar-item-height;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 6px;
      background: $blue;
      transition: .2s $bezier;
    }
  }

  &__text {
    position: relative;
    text-transform: uppercase;
    min-width: $sidebar-width - $sidebar-item-height;
    height: 100%;
    padding: 0 20px;
    line-height: $sidebar-item-height;
  }

  &__badge {
    position: absolute;
    top: 10px;
    left: $sidebar-item-height / 2;
    font-size: 12px;
    font-weight: 900;
    width: 20px;
    height: 20px;
    background: $red;
    color: $white;
    text-align: center;
    line-height: 20px;
    border-radius: 40px;
  }

  &--active {
    font-weight: 900;
    color: $blue !important;
    background: rgba($blue, 0.1);

    .sidebar__item__icon {
      &::before {
        height: 100%;
      }
    }
  }

  &:hover {
    text-decoration: none;

    &:not(.sidebar__item--active) {
      background: rgba($black, 0.2);
    }
  }
}
