
<div class="unit"
  [ngStyle]="{
    'backgroundImage': 'url('+unit?.image+')'
  }">
  <div class="unit__filter">
    <a [routerLink]="['/quiz', unit?.id]" (click)="saveScope()" [attr.title]="unit?.name">
      <h3 class="unit__title">{{unit?.name}}</h3>
    </a>

    <button class="button button--circular" 
            [ngStyle]="{ 'background': unit?.color }"
            [ngClass]="{ 'options--shown': optionsShown }"
            (click)="toggleOptions()">
      <div class="button__icon">
        <div class="material-icons">close</div>
      </div>
      <div class="button__icon">
        <div class="material-icons">settings</div>
      </div>
    </button>


    <div class="unit__settings" [ngClass]="{'unit__settings--shown': optionsShown}">
      <h4>Ilość renderowanych słówek</h4>
      <div class="unit__options">
        <div class="unit__option" 
            [ngStyle]="{ 'borderColor': unit?.color, 'color': unit?.color, 'transitionDelay': (40 * i)+'ms' }"
            [ngClass]="{'unit__option--active': selected == o}" 
            *ngFor="let o of options; let i = index" (click)="selectOption(o)">

            <span>{{o}}</span>
            <div class="unit__option__label" [ngStyle]="{ 'background': unit?.color }"></div>

        </div>
      </div>
    </div>
  </div>
</div>