
@import "../../../../../assets/_variables";
@import "../../../../../assets/mixins";

$unit-padding: 30px;
$unit-option-width: 50px;
$unit-option-border-width: 3px;
$unit-btn-width: 60px;

$unit-responsive-offset: 20px;

.unit {
  position: relative;
  display: block;
  height: 100%;
  border-radius: $border-radius;
  box-shadow: 0 2px 10px rgba($black,.2);
  overflow: hidden;
  background: {
    position: 50%;
    size: 105%;
    repeat: no-repeat;
  };
  transition: .4s $bezier;

  &__filter {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.4);

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: $unit-padding;
      color: $white;
    }

    .button {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: $unit-btn-width;
      height: $unit-btn-width;
      z-index: 4;
      transition: .4s $bezier;
      overflow: hidden;

      &__icon {
        position: relative;
        top: -$unit-btn-width;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s $bezier;
      }

      .material-icons {
        font-size: 18px;
      }

      &.options--shown {
        .button__icon {
          top: 0;
        }
      }

      &:hover { transform: scale(1.1); }
      &:active { transform: scale(0.9); }

      @include tablet {
        width: $unit-btn-width + $unit-responsive-offset;
        height: $unit-btn-width + $unit-responsive-offset;

        &__icon {
          top: -($unit-btn-width + $unit-responsive-offset);
        }
      }
    }
  }




  &__settings {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $unit-padding;
    background: $black;
    color: $white;
    transition: .4s $bezier;

    &--shown {
      top: 0;

      .unit__option {
        transform: translateY(0);
      }
    }
  }





  &__options {
    position: relative;
    display: flex;
    margin-top: 20px;
  }




  &__option {
    position: relative;
    width: $unit-option-width;
    height: $unit-option-width;
    border: $unit-option-border-width solid, {
      radius: $unit-option-width;
    };
    cursor: pointer;
    font: {
      size: 14px;
      weight: 900;
    }

    text-align: center;
    line-height: $unit-option-width - $unit-option-border-width;
    margin-right: $unit-option-width / 4;
    z-index: 1;
    transition: .4s $bezier;
    transform: translateY(120px);



    &:last-child { margin-right: 0; }
    &:hover { transform: scale(1.2) !important; }
    &:active { transform: scale(0.9) !important; }



    &__label {
      position: absolute;
      top: -($unit-option-border-width);
      left: -($unit-option-border-width);
      width: $unit-option-width;
      height: $unit-option-width;
      border-radius: $unit-option-width;
      z-index: -1;
      transform: scale(0);
      transition: .4s $bezier;
    }

    &--active {
      color: $black !important;
    }

    &--active & {
      &__label {
        transform: scale(1);
      }
    }
  }


  &:hover {
    background-size: 140%;
  }
}