
@import "../../../../../../assets/_variables";
@import "../../../../../../assets/mixins";

@import "sidebar-dark.component";

.sidebar {
  position: relative;
  min-width: $sidebar-item-height;
  height: calc(100vh - #{$header-height});
  min-height: 100%;
  background: $white;
  z-index: 2;
  transition: min-width .4s $bezier;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background: rgba($black, 0.2);
  }

  &__content {
    position: fixed;
    width: $sidebar-item-height;
    height: 100%;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: width .4s $bezier;
  
    a:hover {
      text-decoration: none;
    }
  }

  &--expanded {
    min-width: $sidebar-width;
  }

  &--expanded & {

    &__content {
      width: $sidebar-width;
    }
  }
}