
@import "../../../assets/_variables";
@import "../../../assets/mixins";

// --------------------------------------------

$switch-height: 25px;
$switch-knob-padding: 3px;

// --------------------------------------------

.switch {
  position: relative;
  width: $switch-height * 2;
  height: $switch-height;
  background: $grey;
  border-radius: $switch-height;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: $switch-knob-padding;
    left: $switch-knob-padding;
    width: $switch-height - ($switch-knob-padding * 2);
    height: $switch-height - ($switch-knob-padding * 2);
    background: $white;
    border-radius: $switch-height;
    transition: .4s $bezier;
  }

  &--enabled {
    background: $green;

    &::after {
      left: $switch-height + $switch-knob-padding;
    }
  }

  @include tablet {
    width: $switch-height*2 + 5px;
    height: $switch-height + 5px;
    border-radius: $switch-height + 5px;

    &::after {
      width: $switch-height + 5px - ($switch-knob-padding * 2);
      height: $switch-height + 5px - ($switch-knob-padding * 2);
    }
  }
}