@import "../../../../../../../assets/_variables";
@import "../../../../../../../assets/mixins";

.user-profile {
  position: relative;
  display: flex;
  align-items: center;

  &__image {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 20px;

    img {
      width: 100%;
      border-radius: 100px;
    }
  }
}
