
@import "../_variables";

.banner {
  position: relative;
  min-width: 800px;
  min-height: 600px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgba($black, 0.5), rgba($black, 0.8)), url("assets/img/england-photo.jpg"), {
    position: 50% 50%;
    size: cover;
  };

  &__inner {
    position: relative;
    padding: 0 40px;
  }

  &__title {
    position: relative;
    font-size: 60px;
    color: $white;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -25px;
      width: 10px;
      height: 100%;
      background: $yellow;
    }
  }

  &__description {
    font-size: 18px;
    color: $white;
    margin-top: 18px;
  }
}