
@import "../_variables";
@import "../mixins";

.button {
  position: relative;
  height: $input-height;
  width: $input-height * 2.5;
  padding: 0;
  border: none, {
    radius: $border-radius;
  };
  background: $blue;
  color: $white;
  font: {
    size: $input-font-size;
    weight: 900;
  }
  cursor: pointer;
  @include hoverLayer(rgba($white, 0.15));

  &:active {
    background: darken($blue, $lighten-offset);
  }

  &--fluid {
    width: 100%;
  }

  &--circular {
    border-radius: 100%;
  }


  @include mobile {
    width: 100%;
  }
}