@import "../_variables";
@import "../mixins";

.container {
  position: relative;
  background: $white;
  box-shadow: 0 2px 20px rgba($black, 0.5);
  border-radius: $border-radius;
  overflow: hidden;

  &__form {
    display: flex;
    max-width: 1024px;

    @include laptop {
      max-width: 90%;
    }

    @include mobile {
      min-width: 100%;
      height: 100%;
    }
  }

  &__box {
    padding: $content-padding;

    &__header {
      margin-bottom: $content-padding;
    }

    &__content {
      margin: $content-padding 0;
    }
  }

  &--centerized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0,0);
    }
  }
}