@import "../_variables";
@import "../mixins";

.container {
  position: relative;
  background: $white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  overflow: hidden;

  &__form {
    display: flex;
    max-width: 1024px;

    @include laptop {
      max-width: 90%;
    }

    @include mobile {
      min-width: 100%;
      height: 100%;
    }
  }

  &__box {
    padding: $content-padding;
    margin-bottom: $content-padding;

    &__menu {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__header {
      margin-bottom: $content-padding;
      display: flex;
      align-items: center;

      * {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__content {
      margin: $content-padding 0;
    }

    &__loader {
      position: relative;
      width: 100%;
      height: 300px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 15px;

    /deep/ .material-icons {
      font-size: 36px;
    }

    .data-text {
      margin-left: 5px;
    }
  }

  &--centerized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }

  body.dark-theme & {
    background: $black;
  }
}
