
@import "../variables";
@import "../mixins";

.content {
  position: relative;
  margin-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  padding: 40px 0;

  @include laptop {
    width: 90%;
  }

  @include mobile {
    width: 100%;
  }
}