@import "../_variables";

.container {
  position: relative;
  background: $white;
  box-shadow: 0 2px 20px rgba($black, 0.5);
  border-radius: $border-radius;
  overflow: hidden;

  &__form {
    display: flex;
  }

  &--centerized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}