
@import "../variables";
@import "../mixins";

.content {
  position: relative;
  min-height: 100vh;
  padding: $content-padding 0, {
    top: $header-height + $content-padding
  };

  @include laptop {
    width: 90%;
  }

  @include mobile {
    width: 100%;
  }
}