
@import "../mixins";

.form {
  position: relative;
  min-width: 380px;
  max-width: 380px;
  min-height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
  }

  &__content {
    position: relative;
    width: 100%;
    margin: 40px 0;

    hr {
      position: relative;
      width: 95%;
      margin: 20px auto;
      border: 0.5px solid $grey;
    }
  }

  &__footer {
    text-align: center;
    margin-top: 20px;
  }

  @include mobile {
    min-width: 100%;
    height: 100vh;
    display: block;
  }
}