<!-- todo: solve "isTrusted" problem -->
<div class="container container__form container--centerized">
  <div class="form">
    <app-loader #loginLoader></app-loader>
    <h1>Zaloguj się</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form__content">
        <app-message content="Nieprawidłowy login lub hasło" type="warning" #loginMessage></app-message>
        <app-input icon="person" placeholder="Nazwa użytkownika..." 
                   formControlName="username" appInputFluid 
                   #username></app-input>
        <app-input type="password" icon="lock" placeholder="Hasło..." 
                   formControlName="password" appInputFluid></app-input>
      </div>
  
      <app-button type="submit" primary fluid>Zaloguj się</app-button>
    </form>


    <div class="form__footer">
      <p>Jesli nie posiadasz konta, <a [routerLink]="['/register']">Zarejestruj się</a></p>
    </div>
  </div>
  <div class="banner">
    <div class="banner__inner">
      <h1 class="banner__title">EngApp</h1>
    <p class="banner__description">I nauka angielskiego staje się przyjemniejsza!</p>
    </div>
  </div>
</div>