
@import "../../../../assets/_variables";
@import "../../../../assets/mixins";

.menu__opener {
  position: absolute;
  right: 0;
  top: 0;
  width: $header-height;
  height: $header-height;
  cursor: pointer;
  display: none;

  div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .4s $bezier;

    span {
      position: relative;
      width: 25px;
      height: 5px;
      border-radius: $border-radius;
      margin: 1.5px 0;
      background: $black;
      transition: .2s $bezier;
    }
  }

  &--opened {
    div {
      transform: rotate(180deg);

      span {
        &:first-child {
          transform: rotate(45deg);
          top: 8px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
          top: -8px
        }
      }
    }
  }

  @include tablet {
    display: block;
  }
}