<app-loader [visible]="loading"></app-loader>

<div class="content wrapper" [hidden]="loading">
  <div class="home-header">
    <h2>Wybierz rozdział</h2>
    <app-input icon="search" placeholder="Szukaj rozdziałów..." [(ngModel)]="unitSearchInputValue" appInputCompact></app-input>
  </div>

  <h3 [ngStyle]="{'marginTop': '40px'}" *ngIf="(units | unitFilter:unitSearchInputValue).length == 0">Nie znaleziono
    rozdziału: {{unitSearchInputValue}}</h3>

  <div class="units" [@listAnimation]="units.length" *ngIf="isUser && (units | unitFilter:unitSearchInputValue).length > 0">
    <app-unit *ngFor="let unit of (units | unitFilter:unitSearchInputValue)" [unit]="unit"></app-unit>
  </div>

  <div class="units" [@listAnimation]="units.length" *ngIf="!isUser  && (units | unitFilter:unitSearchInputValue).length > 0">
    <app-unit *ngFor="let unit of (units | unitFilter:unitSearchInputValue) | unitPublished" [unit]="unit"></app-unit>
  </div>
</div>
