<div class="input" [ngClass]="{
  'input--focused': focused,
  'input--fluid': fluid,
  'input--disabled': disabled,
  'input--invalid': control?.errors && (control.dirty || control.touched),
  'input--valid': control?.valid,
  'input--compact': compact
}">
  <div class="input__content">
    <div class="input__loader">
      <app-loader appLoaderTiny [visible]="control?.pending" #inputLoader></app-loader>
    </div>
    <div class="input__icon material-icons" *ngIf="icon != null">{{icon}}</div>
    <input [attr.type]="type" [attr.placeholder]="placeholder" 
          [ngClass]="{'no-icon': icon == null}"
          [ngModel]="value" (ngModelChange)="change($event)"
          [disabled]="disabled" />
  </div>

  <!-- todo: create validation message factory -->
  <div class="input__errors" [ngSwitch]="control?.errors | firstError">
    <p *ngSwitchCase="'required'">To pole jest wymagane</p>
    <p *ngSwitchCase="'pattern'">To pole posiada nieprawidłową składnię</p>
    <p *ngSwitchCase="'nameRegex'">Podana nazwa jest nieprawidłowa</p>
    <p *ngSwitchCase="'emailRegex'">Adres e-mail jest nieprawidłowy</p>
    <p *ngSwitchCase="'minlength'">Podana wartość jest za krótka, posiada <b>{{control?.errors?.minlength?.actualLength}}</b> znaków. Musi zawierać conajmniej <b>{{control?.errors?.minlength?.requiredLength}}</b> znaków</p>
    <p *ngSwitchCase="'strength'">Podane hasło jest za słabe. Musi zawierać cyfry, duże i małe litery a także znaki specjalne</p>
    <p *ngSwitchCase="'usernameTaken'">Użytkownik o podanej nazwie użytkownika już istnieje</p>
    <p *ngSwitchCase="'emailTaken'">Już istnieje konto z podanym adresem e-mail</p>
  </div>
</div>