<div class="input" [ngClass]="{
  'input--focused': focused,
  'input--fluid': fluid,
  'input--disabled': disabled,
  'input--invalid': errors.length > 0
}">
  <div class="input__content">
    <div class="input__icon material-icons" *ngIf="icon != null">{{icon}}</div>
    <input [type]="type" [placeholder]="placeholder" 
          [ngClass]="{'no-icon': icon == null}"
          [ngModel]="value" (ngModelChange)="change($event)"
          [disabled]="disabled" />
  </div>

  <div class="input__errors">
    <ul>
      <li *ngFor="let err of errors">{{err?.message}}</li>
    </ul>
  </div>
</div>