
@import "../../../../assets/_variables";
@import "../../../../assets/mixins";

.tab-menu {
  position: relative;
  width: 100%;
  height: 100px;
  background: $white;
  box-shadow: $box-shadow;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  :host-context(body.dark-theme) & {
    background: $black;
    color: $white;
  }
}